.container{
    align-items: center;
    border-collapse: collapse;
    border: 1px solid red;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
.center{
    margin-left: auto;
    margin-right: auto;
}