/* You can add global styles to this file, and also import other style files */
.container{
        align-items: center;
}
.form-control.ng-touched.ng-invalid{
        border:1px solid  red;
}

.center{
        align-items: center;
}